[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
numpy = "*"
einops = "*"
easydict = "*"
rich = "*"
tqdm = "*"
pandas = "*"
packaging = "*"

[dev-packages]
torch-tb-profiler = "*"
tensorboard = "*"

[requires]
python_version = "3.10"
